body {
    margin: 0;
    background: grey;
    padding: 50px 0px;
}

button.clear {
   background:orange;
    color: white;
    
}
table {
     background: rgb(53, 66, 85);
    padding: 7px 5px;
    border: 6px solid #f7090900;
    text-align: center;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-top: 90px;
}
button.equal {
    width: 88%;
    background:orange;
}
button.equal:hover{
	 background: #171717;
}
input[type="text"] {
    width: 450px;
    height: 81px;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 29px;
    background: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
    color: rgb(199, 136, 20);
    border-bottom: 2px solid #6b8b8d;
}
button {
    padding: 10px 20px;
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    background: #0dcf57;
    border: none;
    color: rgb(212, 199, 199);
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
	background: #064301;
}
